<div class="cita-detalle" *ngIf="cita">
  <h2 class="title">Detalles de la Cita</h2>
  <ul class="details">
    <li><strong>ID:</strong> {{ cita._id }}</li>
    <li><strong>Paciente:</strong> {{ cita.paciente }}</li>
    <li><strong>Detalles:</strong> {{ cita.detalles }}</li>
    <li><strong>Hora:</strong> {{ cita.hora }}</li>
    <li><strong>Fecha de Registro:</strong> {{ cita.fechaRegistro | date:'fullDate' }}</li>
    <li><strong>Fecha de Cita:</strong> {{ cita.fechaCita | date:'fullDate' }}</li>
  </ul>
</div>

<div class="cita-detalle" *ngIf="!cita">
  <h2 class="title">No se pueden ver detalles</h2>
</div>
