<div class="contenedor">
  <h2 class="titulo">Horarios Disponibles</h2>

  <div class="formulario">
    <label for="doctor">Doctor:</label>
    <select id="doctor" [(ngModel)]="doctorSeleccionado" class="input-form">
      <option value="" disabled selected>Seleccione un Doctor</option>
      <option *ngFor="let doctor of doctores" [value]="doctor._id">{{ doctor.nombre }}</option>
    </select>
  </div>


  <div class="formulario">
    <label for="diaInicio">Fecha Inicio:</label>
    <input type="date" id="diaInicio" [(ngModel)]="diaInicioSeleccionada" class="input-form" 
           [min]="minDiaHoy" [max]="maxDiaLimite">
  </div>
  
  <div class="formulario">
    <label for="diaFin">Fecha Fin:</label>
    <input type="date" id="diaFin" [(ngModel)]="diaFinSeleccionada" class="input-form"
          [min]="minDiaHoy" [max]="maxDiaLimite">
  </div>

  <button (click)="getHorario()" class="btn-buscar">Buscar</button>

  <div *ngIf="buscoHorarios">
    <div *ngIf="horarios.length > 0">
      <h3>Horarios Disponibles</h3>
      <div class="resultado">
        <table>
          <thead>
            <tr>
              <th>Hora</th>
              <th *ngFor="let dia of diasRango">{{ dia | date:'EEEE dd/MM'}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hora of horasDisponibles">
              <td>{{ hora }}</td>
              <td *ngFor="let dia of diasRango" [ngClass]="{
                  'disponible': getEstadoHorario(dia, hora) === 'disponible',
                  'ocupado': getEstadoHorario(dia, hora) === 'ocupado',
                  'no-disponible': getEstadoHorario(dia, hora) === 'No Disponible'}">
                {{ getEstadoHorario(dia, hora) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>