.registro-cita-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: center; /* Centrar el contenido del grupo de formularios */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group select,
.form-group input,
.form-group textarea {
  width: 80%; /* Ajustar el ancho de los elementos de selección */
  max-width: 400px; /* Ancho máximo para los elementos de selección */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 auto; /* Centrar los elementos de selección */
  display: block; /* Asegurar que los elementos sean bloques */
}

button[type="submit"] {
  width: 80%; /* Ajustar el ancho del botón de envío */
  max-width: 400px; /* Ancho máximo para el botón de envío */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto; /* Centrar el botón de envío */
  display: block; /* Asegurar que el botón sea un bloque */
}

button[type="submit"]:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}